#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Fri Nov 12 11:56:12 2021

@author: jimmy
"""

streamlit==1.2.0 
numpy== 1.20.1
pandas==1.2.4 
altair==4.1.0  
scikit-learn==0.24.1 
tensorflow==2.7.0      